$main_Color: #ede3e4;
$main_Color2: #e7dfe8;
$main_Color3: #e4dee4;
$main_Color4: #af9fa5;
$text_color: rgba(0, 0, 0, 0.751);

$dark_main_color: #eff6e0;
$hover: 1px 1px 15px 2px rgba(159, 156, 156, 0.35);
$thin_border: 1px solid
    rgba(
        $color: #000000,
        $alpha: 0.2,
    );
