@import '../../utilities/variables.scss';
App {
    width: 100vw;
    height: 100vh;
}
.modal {
    background-color: rgba($color: #000000, $alpha: 0.3);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    &__window {
        display: flex;
        flex-direction: column;

        top: 300px;
        // right: -800px;
        width: 600px;
        height: 300px;
        border: $thin_border;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        h1 {
            font-size: 16px;
            justify-self: center;
        }
        &__input {
            padding-left: 10px;
            font-size: 12px;
            width: 300px;
            height: 30px;
            margin-top: 30px;
        }
    }
    &__h1 {
        width: 500px;
        height: 30px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .btn__close {
        justify-self: end;
    }
}
